@charset "UTF-8";
:root {
  --main-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --primary-btn-hover-color: #188ce8;
  --third-text-color: #ffffff;
  --margin-pic: 30px;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-effect: 250ms;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

/* скриваєм крапки, підкреслення */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* скриті заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden;
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  overflow-x: hidden;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: 1.16;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.11;
  }
}
.logo__main {
  color: var(--primary-text-color);
}
.logo__invers {
  color: var(--third-text-color);
}

.menu__button {
  position: absolute;
  display: block;
  right: 15px;
  display: flex;
  z-index: 2;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  background-color: transparent;
  margin: 0;
  transition: fill 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
.menu__button:hover, .menu__button:focus {
  fill: var(--accent-color);
}

.menu__button .icon__close {
  display: none;
}

.menu__button.is-open .icon__close {
  display: block;
}

.menu__button.is-open .icon__menu {
  display: none;
}

.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid #ececec;
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
  .mobile-container {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 48px 40px;
    background-color: var(--main-background-color);
    overflow-y: scroll;
    display: none;
    z-index: 1;
  }
  .mobile-container.is-open {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .mobile-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
  }
}

.nav {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .nav {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
  }
}

.nav__link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.16;
  text-align: center;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.nav__link--activ {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link--activ::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contact__container {
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .contact__container {
    margin-top: 0;
    margin-left: auto;
  }
}

.contact {
  display: flex;
  margin-bottom: 64px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-bottom: 0;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.contact__item:first-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contact__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:first-child {
    margin-left: 50px;
    margin-bottom: 0;
  }
}

.contact__link {
  color: var(--second-text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .contact__link.contact__link--size {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 768px) {
  .contact__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contact__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}

.mobile-soc {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.mobile-soc__item {
  display: block;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 5px;
  padding-left: 5px;
}
.mobile-soc__item:last-child {
  border-right: none;
}
.mobile-soc__item:first-child {
  padding-left: 0;
}
.mobile-soc__link {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .mobile-soc {
    display: none;
  }
}

.hero__container {
  width: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: var(--third-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero_m.jpg");
  max-width: 480px;
  height: 400px;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero_m2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero_t.jpg");
    max-width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero_t2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero_pc.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero_pc2x.jpg");
  }
}

.hero__title {
  color: var(--third-text-color);
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  font-style: normal;
  width: 360px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.button {
  padding: 10px 32px;
  font-family: inherit;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.button:hover, .button:focus {
  background-color: var(--primary-btn-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__footer {
  display: flex;
  padding: 10px 0 10px 29px;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 200px;
  max-height: 50px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
  margin: auto;
}
.button__footer:hover, .button__footer:focus {
  background-color: var(--primary-btn-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button__footer--icon {
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .button__footer {
    margin-left: 12px;
  }
}

input::placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.advantage {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .advantage {
    margin: -15px;
  }
}

.advantage__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    width: calc((100% - 120px) / 4);
  }
}

.icon__box {
  background-color: var(--second-background-color);
  height: 120px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage__text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section--no-pading-top {
  padding-top: 0;
}

.section__hidden {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section__hidden {
    display: block;
  }
}

.example {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  flex-basis: 33.3333333333%;
}

.example__item {
  position: relative;
}
.example__item:nth-last-child(n+2) {
  margin-right: var(--margin-pic);
}

.example__content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.section--other-background {
  background-color: var(--second-background-color);
}

.team__section--tile {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__section--tile {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: var(--main-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(25% - 30px);
  }
}

.team__content {
  padding: 30px 0;
}

.team__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), fill 250ms var(--timing-function);
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  border-radius: 50%;
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-background-color);
}

.social__title {
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .social__title {
    text-align: center;
  }
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--third-text-color);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.social__link--footer:hover, .social__link--footer:focus {
  background-color: var(--accent-color);
}

.clients__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);
  height: 92px;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer__cont {
    align-items: baseline;
    display: flex;
  }
}

.footer__wrap {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    justify-content: baseline;
    margin-bottom: 0;
  }
}

.footer__container {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: start;
    flex-grow: 1;
    margin-right: 70px;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    text-align: center;
  }
}

/* локація- контакти футер */
.location {
  color: var(--third-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: bachground-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.location:hover, .location:focus {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .address {
    align-items: center;
  }
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.contact-link-foot {
  color: var(--second-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.contact-link-foot:hover, .contact-link-foot:focus {
  color: var(--accent-color);
}

.footer__subscribe {
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__subscribe {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: auto;
    align-items: none;
  }
}

.subscribe-form__title {
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__title {
    text-align: start;
  }
}

.subscribe-form {
  background-color: transparent;
  color: var(--third-text-color);
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    align-items: flex-start;
  }
}

.subscribe__input {
  display: flex;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--third-text-color);
  padding-left: 16px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    margin-bottom: 20px;
    width: 387px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.button-list__item {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .button-list__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .button-list__item {
    margin-bottom: 0px;
  }
}

.button-list__radio {
  padding: 6px 22px;
  font-family: inherit;
  color: var(--primary-text-color);
  background-color: var(--second-background-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.button-list__radio:hover, .button-list__radio:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -15px;
    list-style: none;
  }
}
@media screen and (min-width: 768px) {
  .card-set > .card-set__item {
    flex-basis: calc(50% - 30px);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set > .card-set__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.card-set__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms var(--timing-function);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid var(--second-background-color);
  border-top: none;
}

.card__title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin-top: 4px;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}
.product-thumb .owerlay-text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  color: var(--third-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.card-set__link:hover .owerlay-text,
.card-set__link:focus .owerlay-text {
  transform: translateY(0);
  transition: transform 250ms var(--timing-function);
}

.backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms var(--timing-function);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-container {
  padding: 93px 15px 0 15px;
}
@media screen and (min-width: 768px) {
  .modal-container {
    padding: 208px 159px 0 159px;
  }
}

.modal {
  border-radius: 4px;
  background-color: var(--main-background-color);
  transition: translate 250ms var(--timing-function);
  position: relative;
  max-width: 450px;
  max-height: 609px;
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    max-height: 581px;
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal__close {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-background-color);
  transition: fill 250ms var(--timing-function);
  right: 5px;
  top: 5px;
}
.modal__close:hover, .modal__close:focus {
  fill: var(--primary-btn-hover-color);
}
@media screen and (min-width: 1200px) {
  .modal__close {
    right: 8px;
    top: 8px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.form {
  padding: 40px;
}

.form__item:not(last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__icon--position {
  position: relative;
  display: inline-block;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill 250ms var(--timing-function);
}
.form__icon:hover, .form__icon:focus {
  fill: var(--accent-color);
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  width: 100%;
  padding: 12px 5px 12px 42px;
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.form__input:focus-within, .form__input:hover {
  border-color: var(--accent-color);
  outline: none;
}
.form__input:focus-within ~ .form__icon, .form__input:hover ~ .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  border-radius: 4px;
  height: 120px;
  resize: none;
}
.form__textarea:focus-within, .form__textarea:hover {
  border-color: var(--accent-color);
  outline: none;
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__cont {
  margin-bottom: 4px;
  color: var(--second-text-color);
  font-family: inherit;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox__agriment {
  color: var(--accent-color);
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__icon {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  transition: background-image 250ms var(--timing-function), background-color 250ms var(--timing-function), bborder 250ms var(--timing-function);
}

.checkbox__input:checked + .checkbox__icon {
  border: transparent;
  background-color: var(--accent-color);
  background-size: contain;
  border-radius: 4px;
  background-position: 50% 50%;
  background-origin: border-box;
  background-image: url(../images/icon_check-form.svg);
}

.button.form__button {
  display: flex;
  margin: auto;
  margin-top: 30px;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */