@import './utils/variables';
@import './utils/reset';
@import './utils/normalize';
@import './utils/project-settings';

@import './components/logo';
@import './components/header';
@import './components/hero';
@import './components/button';
@import './components/section-advantages';
@import './components/section-example';
@import './components/section-team';
@import './components/social-icon';
@import './components/section-clients';
@import './components/footer';
@import './components/portfolio-buttons';
@import './components/card-list';
@import './components/modal';
@import './components/modal-form';