.section--other-background {
    background-color: var(--second-background-color);
}

.team__section--tile {
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.team {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team__item {
    background-color: var(--main-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);

    &:not(:last-child){
        margin-bottom: 15px;
    }

    @media screen and (min-width:768px) {
        margin: 15px;
        width: calc(100% / 2 - 30px);
    }

    @media screen and (min-width:1200px) {
        width: calc(100% / 4 - 30px);
    }
}


.team__content {
    padding: 30px 0;
}

.team__title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.team__text {
    margin-top: 10px;
    margin-bottom: 16px;

    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}