:root {
    --main-background-color: #ffffff;
    --second-background-color: #f5f4fa;
    --third-background-color: #2f303a;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --primary-btn-hover-color: #188ce8;
    --third-text-color: #ffffff;
    --margin-pic: 30px;
    --icon-color: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time-effect: 250ms;
}

// $main-background-color: #ffffff;
// $second-background-color: #f5f4fa;
// $third-background-color: #2f303a;
// $primary-text-color: #212121;
// $second-text-color: #757575;
// $accent-color: #2196f3;
// $primary-btn-hover-color: #188ce8;
// $third-text-color: #ffffff;
// $margin-pic: 30px;
// $icon-color: #afb1b8;
// $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// $time-effect: 250ms;